<div fxLayout="row" fxLayoutAlign="center center">
  <md-card>
    <md-card-header>
      <div md-card-avatar class="avatar-image"></div>
      <md-card-title>Jelena Gutić Skendžić</md-card-title>
      <md-card-subtitle>Diplomirani inženjer arhitekture</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <md-accordion class="example-headers-align">
        <md-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
          <md-expansion-panel-header>
            <md-panel-title>
              Obrazovanje
            </md-panel-title>
            <md-panel-description>
              Arhitekta
            </md-panel-description>
          </md-expansion-panel-header>
          <p>Arhitektonski fakultet Univerziteta u Beogradu</p>
          <p>Smer: Arhitektonsko inženjerstvo</p>
          <p>Licenca: 300 (Odgovorni projektant arhitektonskih projekata, uređenja slobodnih prostora i unutrašnjih instalacija
            vodovoda i kanalizacije)</p>
        </md-expansion-panel>
        <md-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
          <md-expansion-panel-header>
            <md-panel-title>
              Radno iskustvo
            </md-panel-title>
            <md-panel-description>
              2008/17
            </md-panel-description>
          </md-expansion-panel-header>
          <md-list>
              <!-- <h3 md-subheader>Folders</h3> -->
              <md-list-item *ngFor="let job of jobs; let last = last;">
                <h4 md-line>{{job.year}}</h4>
                <p md-line> {{job.position}} </p>
                <p md-line> {{job.description}} </p>
                <p md-line> {{job.company}} </p>
                <hr *ngIf=!last>
              </md-list-item>
            </md-list>
          <!-- <md-action-row>
            <button md-button color="warn" (click)="prevStep()">Previous</button>
            <button md-button color="primary" (click)="nextStep()">Next</button>
          </md-action-row> -->
        </md-expansion-panel>
        <md-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
            <md-expansion-panel-header>
              <md-panel-title>
               Lista referenci
              </md-panel-title>
              <md-panel-description>
              </md-panel-description>
            </md-expansion-panel-header>
            <md-list>
                <md-list-item *ngFor="let ref of references; let last = last;">
                  <h4 md-line>{{ref.position}}</h4>
                  <div md-line *ngFor='let item of ref.references'> {{item}} </div>
                  <hr *ngIf=!last>
                </md-list-item>
              </md-list>
            <!-- <md-action-row>
              <button md-button color="warn" (click)="prevStep()">Previous</button>
              <button md-button color="primary" (click)="nextStep()">Next</button>
            </md-action-row> -->
          </md-expansion-panel>
      </md-accordion>
    </md-card-content>
  </md-card>
</div>
