<div fxLayout="row" fxLayoutWrap fxLayout.xs="column" fxLayoutAlign="space-between center" class='projects-container'>
  <md-card  fxFlex.xs='1 1 100%' fxFlex.gt-xs='1 1 100%' fxFlex.gt-sm='1 1 40%' fxFlex.gt-md='1 1 25%' class="projects" *ngFor='let project of projects'>
    <md-card-header>
      <md-card-title>{{project.name}}</md-card-title>
      <md-card-subtitle>{{project.category}}</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="{{project.image}}" alt="{{project.name}}">
    <md-card-content>
      <p>
        {{project.description}}
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]="['/projects', project.slug]">DETALJNIJE</button>
    </md-card-actions>
  </md-card>
</div>
