.projects-container {
  .projects {
      margin: 10px;
      .mat-card-content{
        min-height: 150px;
      }
      .mat-card-actions{
        display: flex;
        justify-content: flex-end;
      }
  }
}
