<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{project.name}}</mat-card-title>
      <mat-card-subtitle>{{project.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div>
        {{project.description}}
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </mat-card>
  <div>
    <button mat-button [routerLink]="['/projekti', prev]">Prethodni</button>
    <button mat-button [routerLink]="['/projekti', next]">Sledeći</button>
  </div>
</div>
